<div class="{{drawerOpen ? 'drawer-open' : ''}}">
  <div class="container">
    <GithubCorner />
    <div class="header">
      <h1>PostCSS REPL</h1>
    </div>
    <div class="input-output">
      <CodeMirror bind:value="input" id="input" />
      <CodeMirror bind:value="output" id="output" />
    </div>
    <pre class="error {{error ? 'visible' : ''}}">{{ error }}</pre>
  </div>
  <Drawer plugins="{{plugins}}" bind:open="drawerOpen"
          on:selectedPluginsChanged="set({ selectedPlugins: event })"
          on:toggle="set({ drawerOpen: event })"
  />
</div>
<script>
import CodeMirror from './CodeMirror';
import GithubCorner from './GithubCorner';
import Drawer from './Drawer';

const css = `p {
  color: red;
}
`;

export default {
  components: { CodeMirror, GithubCorner, Drawer },
  data() {
    return {
      input: css,
      output: '',
      error: '',
      plugins: [],
      selectedPlugins: [],
      drawerOpen: true,
    };
  },
};
</script>
