@import-normalize;

$gray: #eee;
$dark: #ccc;

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $gray;
  & > p {
    font-size: 3rem;
  }
}

$drawer-width: 20vw;

.plugins,
.container {
  position: absolute;
  top: 0;
  height: 100vh;
}

.plugins {
  left: -$drawer-width;
  width: $drawer-width;
  background: $dark;
  overflow-y: scroll;
  & > .plugin {
    display: block;
    margin: 1rem;
  }
}

.container {
  right: 0;
  width: 100vw;
}

.drawer-open {
  & .plugins {
    left: 0;
  }
  & .container {
    width: calc(100vw - $drawer-width);
  }
}

.header {
  margin: 0 1rem;
  margin-bottom: 0;
}

.input-output {
  display: flex;
  & > * {
    padding: 1rem;
    margin: 1rem;
    flex: 0 1 50%;
    height: calc(100vh - 10rem);
  }
  & #editor-output .ace_cursor {
    display: none;
  }
}

.error {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  margin: 1rem;
  padding: 1rem;
  background: $dark;
  color: red;
}
