<div class="{{drawerOpen ? 'drawer-open' : ''}}">
  <div class="container">
    <GithubCorner />
    <div class="header">
      <h1>PostCSS REPL</h1>
    </div>
    <div class="input-output">
      <CodeMirror bind:value="input" id="input" />
      <CodeMirror bind:value="output" id="output" />
    </div>
    <pre class="error {{error ? 'visible' : ''}}">{{ error }}</pre>
  </div>
  <Drawer plugins="{{plugins}}" bind:open="drawerOpen"
          on:selectedPluginsChanged="set({ selectedPlugins: event })"
          on:toggle="set({ drawerOpen: event })"
  />
</div>
<script src="App.js">
</script>
